<h1><%= @track.title %></h1>

<a href=<%= album_url(@track.album)%>><%= @track.album.title %></a>
<a href=<%= edit_track_url(@track) %>>Edit Track</a>
<form action=<%= track_url(@track) %> method="post">
    <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Track">
</form>

<h2>Notes</h2>
<% @track.notes.each do |note| %>
    <%= render "notes/note", note: note %>
    <% if note.user_id == current_user.id %>
        <form action=<%= notes_url(note) %> method="post">
            <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Note">
        </form>
    <% end %>
<% end %>

<%= render "notes/form", track_id: @track.id%>