<h1><%= @cat.name %></h1>

<table>
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= 'age' %></td>
            <td><%=@cat.age%></td>
        </tr>
        <% ['birth_date', 'color', 'sex'].each do |attr| %>
        <tr>
            <td><%= attr %></td>
            <td><%=@cat[attr]%></td>
        </tr>
        <% end %>

    </tbody>
</table>


