<h1>All Cats</h1>

<table>
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <% ['name', 'birth_date', 'color', 'sex', 'description'].each do |attr| %>
        <tr>
            <td><%= attr %></td>
            <td><%=@cat[attr]%></td>
        </tr>
        <% end %>
    </tbody>
</table>



<ul>
    <li> <%= @cat.name %></li>
    <li> <%= @cat.birth_date %></li>
    <li> <%= @cat.color %></li>
    <li> <%= @cat.sex %></li>
    <li> <%= @cat.description %></li>
</ul>

